<!--The content below is only a placeholder and can be replaced.-->
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="drivers/create" class="nav-link" routerLinkActive="active">
          Create a Driver
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="drivers" class="nav-link" routerLinkActive="active">
          Drivers
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">

<router-outlet></router-outlet>
